---
title: "Happy Jekylling!"
permalink: /
---

<div class="w-32 mb-6">
  <img src="/assets/images/onur-profile-square.jpg" alt="{{ site.author.name }}" class="rounded-full" />
</div>

<h1>Marketer turned bootstrapper.</h1>

<p>Hi, I'm Onur. I'm the founder of <a href="https://simplematters.co/">Simple Matters</a>, where I help startup founders with marketing and growth. 
Currently, I'm learning <a href="http://ruby.social/@onurozer">Ruby</a> and how to build SaaS products.</p>


<h2>Posts</h2>
{% include posts.liquid %}  


<h2>Projects</h2>
{% include projects.liquid %}
