---
title: Marketer turned bootstrapper.
permalink: /
---

<div class="w-32 mb-6">
  <img src="/assets/images/onur-profile-square.jpg" alt="{{ site.author.name }}" class="rounded-full" />
</div>

<h1 class="mb-8 text-5xl font-extrabold tracking-tight">{{ page.title }}</h1>

<p>Hi, I'm Onur. I'm the founder of <a href="https://simplematters.co/">Simple Matters</a>, where I help startup founders with marketing and growth. 
Currently, I'm learning <a href="http://ruby.social/@onurozer">Ruby</a> and how to build SaaS products.</p>

<h2 class="mt-8 mb-3 text-3xl font-bold">Posts</h2>
{% include posts.liquid %}  

<h2 class="mt-8 mb-3 text-3xl font-bold">Projects</h2>
{% include projects.liquid %}