---
title: Talks
description: Here are my recent talks on marketing and tech.
layout: page
---
<p class="mb-8">{{ page.description }}</p>
{% assign talks = site.data.talks | sort: 'date' | reverse %}
{% for talk in talks %}
  <div class="mb-6 talk">
    <div class="flex items-center title gap-x-2">
      <h3 class="font-bold">{{ talk.name }}</h3>
    </div>
    <p class="">{{ talk.description }}</p>
    <a href="{{ talk.video }}" class="text-pink-700 external">Watch the video</a>    
  </div>
{% endfor %}