<p class="mb-1">
  Thanks for visiting, find me on <a href="{{ site.author.linkedin }}" class="underline">LinkedIn</a>, <a href="{{ site.author.twitter }}" class="underline">Twitter</a>, <a href="{{ site.author.mastodon }}" class="underline">Mastodon</a> and <a href="{{ site.author.github }}" class="underline">Github</a>.
</p>