<header>
  <nav>
    <div class="flex flex-wrap gap-x-6">
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Projects</a>
      <a href="#">Talks</a>
    </div>
  </nav>
</header>
