{% assign projects = site.data.projects | sort: "launched" | reverse %}
{% for project in projects %}
  <div class="mb-6 project">
    <div class="flex items-center title gap-x-2">
      <h3 class="font-bold">{{ project.name }}</h3>
    </div>
    <p class="">{{ project.description }} </p>
    <a href="{{ project.url }}" class="text-pink-700 external">{{ project.url | replace: "https://", "" | replace: "www.", "" }}</a>    
  </div>
{% endfor %}