<div class="flex mb-12 gap-x-3">
{% for social in site.data.socials %}
  <a href="{{ social.href }}" title="{{ social.title }}">
    {% svg "/assets/icons/{{ social.icon }}" class="w-6 h-6 fill-gray-900" %}
  </a>
{% endfor %}
</div>