/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

.project-live {
  @apply bg-lime-200;
}
.project-archived {
  @apply bg-gray-200;
}
.project-upcoming {
  @apply bg-yellow-200;
}
@layer base {
  .content > p {
    @apply mb-8;
  }
  .content a {
    @apply text-pink-700;
  }
  .content h1 {
    @apply text-5xl mb-8 tracking-tight font-extrabold;
  }
  .content h2 {
    @apply font-bold text-3xl mb-3 mt-12;
  }
  .content h3 {
    @apply font-bold;
  }

  .content ol,
  .content ul {
    @apply mb-8;
  }

  .content li {
    @apply ml-5  list-disc;
  }
}
