/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@layer base {
  .content > p {
    @apply mb-6;
  }
  .content a {
    @apply text-blue-500;
  }
  .content h1 {
    @apply font-bold text-6xl mb-6 tracking-tight;
  }
  .content h2 {
    @apply font-bold text-3xl mb-3 mt-12;
  }
  .content h3 {
    @apply font-bold;
  }

  .content ol,
  .content ul {
    @apply mb-6;
  }

  .content li {
    @apply ml-4 list-disc;
  }
}
