<footer class="text-sm">
  <p class="mb-1">Thanks for visiting, find me on  <%= link_to "Mastodon", site.metadata.social.mastodon, class: "underline" %>,
    <%= link_to "LinkedIn", site.metadata.social.linkedin, class: "underline" %> and <%= link_to "Github", site.metadata.social.github, class: "underline" %>.</p>
</footer>
