<header>
  <div class="space-x-3">
    <a href="<%= url_for 'index.md' %>" class="">Home</a>
    <a href="<%= url_for 'posts.md' %>" class="">Posts</a>
    <a href="<%= url_for 'projects.md' %>" class="">Projects</a>
    <a href="<%= url_for 'about.md' %>" class="">About</a>
  </div>
</header>
